#map 
{ height: 100%; 
  float: left;
}
html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	width: 100px:;
	}

#lists{
   margin-left: 10px;
   float: left;
   margin-right: 5px;
}
.row{
	height:100vh;
}